<header>
    <strong class="text-center ">
        <p>        Bienvenue sur le Portail Éducatif des Classes Preparatoires Scientifiques (ESMT-ESIGELEC-COURS_SACREe_COEUR)! <br> Découvrez le monde de l'apprentissage à portée de clic. <br> Explorez nos cours, consultez vos devoirs et plongez dans une expérience éducative immersive. Les CPS une famille !
        </p>
    </strong>
</header>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Message d'alerte :</strong> <p>Si vous utilisez un appareil mobile, vous pouvez faire défiler l’écran horizontalement au niveau de l’en-tête pour voir les autres matières.</p> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>     
<main>
        <h3 class="text-decoration-underline">Nos Partenaires:</h3>
    <div class="flex-column">
        <div class="container">
            <img [src]="esiUrl" alt="Notebook" style="width:100%;">
            <div class="content">
              <h1><a target="_blank" href="https://www.esmt.sn/">ESIGELEC</a></h1>
                <p>L'ESIGELEC, établie à Rouen en France, occupe une place distincte dans le paysage de l'enseignement supérieur. En se spécialisant dans les domaines de l'ingénierie, de l'électronique et des systèmes embarqués, l'école s'efforce de préparer les étudiants à prospérer dans des secteurs en constante évolution. Dotée d'un corps professoral qualifié et d'installations modernes, l'ESIGELEC offre une expérience éducative approfondie et engageante. Au-delà des cours, l'école encourage la collaboration en favorisant des partenariats industriels et un réseau solide d'anciens élèves. Cette approche globale confère aux diplômés de l'ESIGELEC les compétences et la perspective nécessaires pour exceller dans un environnement technologique en rapide mutation.</p>
            </div>
        </div>
        <hr>
        <div class="container">
            <img [src]="esmtUrl" alt="Notebook" style="width:100%;">
            <div class="content">
              <h1><a target="_blank" href="https://www.esmt.sn/">ESMT</a></h1>
              <p>L'ESMT, située à Dakar, est une institution d'enseignement supérieur qui joue un rôle important dans le paysage éducatif de la région. Elle offre une variété de programmes académiques et de formations spécialisées dans les domaines des télécommunications et des technologies de l'information. L'école vise à fournir aux étudiants les compétences nécessaires pour réussir dans l'industrie en constante évolution des TIC. Grâce à un corps professoral compétent et à des ressources éducatives modernes, les étudiants ont la possibilité d'acquérir une compréhension approfondie des sujets pertinents. L'emplacement de l'école à Dakar ajoute une dimension culturelle enrichissante à l'expérience des étudiants, tout en favorisant des opportunités de réseautage et de collaboration dans un environnement professionnel en croissance.</p>
            </div>
          </div>
          <hr>
          <div class="container">
            <img [src]="sacUrl" alt="Notebook" style="width:100%;">
            <div class="content">
              <h1><a target="_blank" href="https://www.esmt.sn/">Collège du Sacré-Cœur </a></h1>
                    <p>
                        Le Collège du Sacré-Cœur de Dakar est une institution éducative renommée, ancrée au cœur de la capitale sénégalaise. Reconnu pour son engagement envers l'excellence académique et le développement personnel, le collège offre un environnement propice à l'apprentissage holistique. Fortement enraciné dans les valeurs chrétiennes, le Collège du Sacré-Cœur promeut un équilibre entre éducation intellectuelle et formation morale. Grâce à une équipe pédagogique compétente et des installations modernes, les élèves ont l'opportunité de s'épanouir aussi bien sur le plan académique que personnel. Le collège se distingue également par ses activités culturelles, sportives et sociales qui enrichissent l'expérience éducative. En tant qu'établissement éducatif respecté, le Collège du Sacré-Cœur de Dakar continue de former des générations d'apprenants bien préparés à relever les défis du monde moderne.</p>
            </div>
          </div><hr>
    </div>
</main>
<footer>
    <div class="advertisement">
      <!-- Code d'intégration de la publicité -->
    </div>
    <!-- Autres éléments du footer -->
    <p class="text-center">@SOW2023</p>
  </footer>
  
