<div class="scroll-menu">
    <a class="active home" routerLink=""> Acceuil</a>
    <a routerLink="algebre">Algebre</a>
    <a routerLink="analyse">Analyse</a>
    <a routerLink="physique1">Physique-1</a>
    <a routerLink="physique2">Physique-2</a>
    <a routerLink="si">Science de l'ingenieur</a>
    <a routerLink="electronique">Electronique</a>
    <a routerLink="informatique">Informatique</a>
    <a routerLink="tec">T.E.C</a>
    <a class="active contact" routerLink="contact">Contactez nous</a>
</div>
